---
layout: splash
title: "HOME"
permalink: /
excerpt: "VUV tO X-rays Experiments with Light"
header:
  overlay_image: /assets/images/banner.jpg


intro: 
  - excerpt: 'The goal of the VOXEL team is to advance understanding of laser-plasma interactions, unlocking new frontiers in high-energy-density physics and warm dense matter (WDM) research.'
---

{% include feature_row id="intro" type="center" %}


<div class="homepage-news">
  <h2 class="section-heading">Latest News</h2>
  <div class="news-row">
    {% assign news_posts = site.categories.news | slice: 0, 3 %}
    {% for post in news_posts %}
      <div class="news-item">
        {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
        {% endif %}
        <h3><a href="{{ post.url | relative_url }}" target="_blank">{{ post.title }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncate: 120 }}</p>
      </div>
    {% endfor %}
  </div>
</div>



