---
layout: splash
title: "HOME"
permalink: /
excerpt: "VUV tO X-rays Experiments with Light"
header:
  overlay_image: /assets/images/banner.jpg


intro: 
  - excerpt: 'The VOXEL team is dedicated to advancing our understanding of how lasers interact with matter under extreme conditions, with a focus on high-energy-density physics, warm dense matter and imaging. By combining cutting-edge plasma diagnostics, innovative X-ray imaging, and advanced computational modelling, we aim to reveal the fast, complex dynamics of laser-driven plasmas. Our research also supports key areas like fusion energy and astrophysics, while pioneering new ways to control and harness light-matter interactions for the development of next-generation secondary sources.'
---

{% include feature_row id="intro" type="center" %}


<div class="homepage-news">
  <h2 class="section-heading">Latest News</h2>
  <div class="news-row">
    {% assign news_posts = site.categories.news | slice: 0, 3 %}
    {% for post in news_posts %}
      <div class="news-item">
        {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
        {% endif %}
        <h3><a href="{{ post.url | relative_url }}" target="_blank">{{ post.title }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncate: 120 }}</p>
      </div>
    {% endfor %}
  </div>
</div>



